@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Mukta:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  color: rgb(64,
      12,
      75);
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1611361513918-eee28c9d96a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');
}

.main-page .main-title {
  font-family: 'Katibeh', cursive;
  color: #e2e2e2;
  text-shadow: 2px 2px #293d7e;
  font-size: 50px;

}

img {
  height: 100%;
  width: 100%;

}

.button-wrapper {
  cursor: pointer;
  position: relative;
  margin: auto;
  height: 70px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  cursor: pointer;
  position: absolute;
  background-color: unset;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Mukta', sans-serif;
}

input {
  font-family: 'Mukta', sans-serif;
}